#!/bin/bash

#SBATCH -c {NumCores}
#SBATCH -N 1
#SBATCH -t {SpinupWallTime}
#SBATCH -p {Partition}
#SBATCH --mem={Memory}

# Set the proper # of threads for OpenMP
# SLURM_CPUS_PER_TASK ensures this matches the number you set with -c above
export OMP_NUM_THREADS=$SLURM_CPUS_PER_TASK

#-------------------------------------------------
# Initialize
#-------------------------------------------------
# Define version ID
id=namename

# Define GEOS-Chem log file
log="$id.log"

#-------------------------------------------------
# Start the simulation
#-------------------------------------------------
# Run GEOS-Chem and pipe output to log
srun -c $OMP_NUM_THREADS time -p ./gcclassic >> $log

# Echo end fin
echo '===> Run ended at' `date` >> $log


# Exit normally
exit 0
#EOC
